<!DOCTYPE html>
<html>
    <head>
    <title>Error code 404</title>   
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="/css/style.css"> 
    <script src="/js/app.js"></Script>
    </head>

    <body>
        <div class="main-content"> 
        {{>header}}
        {{error_message}}
        </div>
        {{>footer}}
    </body>
        
</html>