<!DOCTYPE html>
<html>
    <head>
    <title>ASAP About</title> 
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="/css/style.css">   
    </head>

    <body>
        <div class="main-content"> 
        {{>header}}
        <img class='portrait'src="/img/Anim.jpg"></div>
        {{>footer}}
    </body>
        
</html>