<!DOCTYPE html>
<html>
    <head>
    <title>ASAP</title>   
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="/css/style.css"> 
    </head>

    <body>
        <div class="main-content"> {{>header}}
<p>Use this website to get your weather data</p>
       <form>
           <input placeholder="">
           <button> Search</button>
           </form>
            <p id="msg_1"></p>
            <p id="msg_2"></p>
            <p id="msg_3"></p>
            <p id="msg_4"></p>
            <p id="msg_5"></p>
        </div>
       
        {{>footer}}
           <script src="/js/app.js"></Script>
    </body>
        
</html>