<!DOCTYPE html>
<html>
    <head>
    <title>ASAP</title>   
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="/css/style.css"> 
    <script src="/js/app.js"></Script>
    </head>

    <body>
        <div class="main-content"> {{>header}}</div>
       
        {{>footer}}
    </body>
        
</html>