<!DOCTYPE html>
<html>
    <head>
    <title>First web page</title>   
    <link rel="stylesheet" href="/css/style.css"> 
    </head>

    <body>
        {{>header}}
        <p>{{name}}</p>
        {{>footer}}
    </body>
        
</html>